.popup__title {
  font-size: 24px;
  max-width: 330px;
  font-weight: 900;
  line-height: 29px;
  color: #000;
  margin: 0 0 54px;
}

@media screen and (max-width: 524px) {
  .popup__title {
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 40px;
  }
}